body {
  margin: 50px 30px;
  font-family: sans-serif;
  background-color: #ACDCEE;
  color: #475053;
}

header {
  text-align: center;
}

header > h1 {
  text-transform: uppercase;
}

header > img {
  text-align: center;
}

article {
  padding: 50px 200px;
}
