body {
  background-color: #2C3D4F;
  text-align: center;
  color: #EE7738;
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
}

pre {
  text-align: left;
  background-color: #34495D;
  color: #F59D2A;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
  margin: 0px 150px;
  border-radius: 5px;
  padding: 40px;
}

button {
  border: 3px solid white;
  background-color: transparent;
  color: white;
  padding: 10px;
  cursor: pointer;
  float: left;
}
