html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.player-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-controls-bottom {
  display: flex;
  justify-content: space-between;
  visibility: hidden;
}

.video-time-full {
  height: 5px;
  width: 100%;
}

.video-current-time {
  width: 0;
  background-color: #F05941;
  height: 5px;
}

.player:hover .video-time-full {
  height: 30px;
  margin-top: -15px;
  z-index: 2;
  transition: all 0.1s ease-in-out;
}

.player:hover ~ .player-controls>.player-controls-bottom {
  visibility: visible;
}

.fullscreen {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
}

.
